<!DOCTYPE html>
<html lang="en">
  <head>
	<title> Lux: Wireless Home Illumination </title>
	<link rel = "shortcut icon" href = "{{url_for('static', filename = 'images/Lightbulb.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
	<link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename = 'vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'vendor/simple-line-icons/css/simple-line-icons.css') }}">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>

  <body onload = "loading_page()">

    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">LUX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="Luxabout.html">About</a>
          </li>
          <li class = "nav-item" style = "float:right">
			<a class = "nav-link" href = "Luxcontact.html"> Contact </a>
          </li>
		  <li class = "nav-item" style = "float:right">
			<a class = "nav-link" href = "dashboard.html"> Dashboard </a>
          </li>
        </ul>
      </div>
    </nav> --> -->

    <div class="container">

		<div id = "invalid_alert">

		</div>

		<div class="starter-template">
			<br> <br> <br>
			<br>
			<h1 class = "text-center" style = "background-color:#555;color:white;margin-bottom:0px;border-radius:5px;">Lux Devices</h1>
			<div id = 'user_devices'>

			</div>

		<!-- <button class = "btn" onclick = "addDevice"> Add new device </button> -->
		</div>
		<hr>

		  <footer>
			<p>CSE 442 - Fall 2017&copy; </p>
		  </footer>
    </div><!-- /.container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{{url_for('static',filename = 'vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{url_for('static',filename = 'vendor/popper/popper.min.js') }}"></script>
	<script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{url_for('static',filename = 'vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static',filename = 'js/dashboard.js') }}"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  </body>
</html>
