<!DOCTYPE html>
<html lang="en">
  <head>
	<title> Lux: Wireless Home Illumination </title>
	<link rel = "shortcut icon" href = "{{url_for('static', filename = 'images/Lightbulb.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename = 'bootstrap-4.0.0-beta/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="{{url_for('static', filename = 'jumbotron.css') }}" rel="stylesheet"> -->
  </head>

  <body onload = "loading_page()">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">LUX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="dashboard.html">Dashboard</a>
          </li>
          <!--<li class = "nav-item" style = "float:right">
          <a class = "nav-link" href = "Luxcontact.html"> Contact </a>
          </li>-->
          <!--<li class="nav-item">
            <a class="nav-link" href="LuxLogin.html">Sign-up/Login</a>
          </li>
          -->
		  <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
		  -->
          <!--
		  <li class = "nav-item" style = "float:right">
			<a class = "nav-link" href = "Luxcontact.html"> Contact </a>
		  </li>
          -->
        </ul>
      </div>
    </nav>

    <div class="container">

		<div id = "invalid_alert">

		</div>

      <div class="starter-template">
		<br> <br> <br>
        <h1>Your registered devices:</h1>

		<div id = 'user_devices'>

		</div>

		<!-- <button class = "btn" onclick = "addDevice"> Add new device </button> -->
		</div>
	  <hr>

      <footer>
        <p>CSE 442 - Fall 2017&copy; </p>
      </footer>
    </div><!-- /.container -->
		<script>
		var request_for_page = {"cmd": "2"};
        var deviceState = {};
        var temp = -1;                              /* collab Rmiller1673 - my way to keep onload for base case */

        /* collab Rmiller1673 - setting the request for a status update to be sent every 5 seconds */
        function loading_page() {
            /* base case for loading the page*/
            sendRequest(true, request_for_page, "/status_req");
            /* updating every 5 seconds */
            setInterval(function () {
                sendRequest(true, request_for_page, "/status_req")
            }, 5000) ;
        }

		function sendRequest(upd, data, type) {
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", type, true);
			xhttp.setRequestHeader("Content-type", "application/json");
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					if (upd) {
						onPageLoad(this);
					} else {
                        var resp = xhttp.responseText;
                        myDevices = JSON.parse(resp);
                        var devicePictureState = checkOnOrOffState(myDevices.data.level);
                        deviceState[myDevices.serial] = myDevices.data.level;
                        // alert(myDevices.serial);
                        document.getElementById(myDevices.serial).getElementsByClassName("Device_img")[0].src = devicePictureState.src;

                        // alert(devicePictureState);
                    }
				}
			}
			var param = JSON.stringify(data);
			xhttp.send(param);
		}

		function onPageLoad(xhttp) {
            var resp = xhttp.responseText;
			myDevices = JSON.parse(resp);
            
            //alert(resp);
            
            var mylist = document.createElement("div");
            mylist.id = "myLuxDevices";

			for (x in myDevices) {

				var deviceID = myDevices[x].serial;
                
                //alert(deviceID);
                
				//var deviceName = myDevices[x].Device;
				deviceState[deviceID] = myDevices[x].data.level;
                
                //alert(deviceState[deviceID]);
                
				var device_img = checkOnOrOffState(deviceState[deviceID]);
                var device = document.createElement("div");
                var deviceName = document.createElement("h5");
                var stateSlider = document.createElement('div');
                var on = document.createElement("p");
                var off = document.createElement("p");

                stateSlider.style.display = "inline-block";
                stateSlider.id = "slider";
                on.style.backgroundColor = "rgb(0,255,0)";
                on.innerHTML = "ON";
                off.innerHTML = "OFF";
                on.style.float = "left";
                off.style.float = "right";
                off.style.backgroundColor = "rgb(255,0,0)";
                stateSlider.appendChild(on);
                stateSlider.appendChild(off);

                deviceName.innerHTML= myDevices[x].data.name;
                deviceName.style.textAlign ="center";
                device.className = "device";
                device.style.width = "122px";
                device.id = deviceID;

                device.appendChild(device_img);
                device.appendChild(deviceName);
                device.appendChild(stateSlider);
                stateSlider.addEventListener("click",onState(myDevices[x].data.name, deviceID));
                mylist.appendChild(device);
			}

			document.getElementById("user_devices").appendChild(mylist);
            /*Rmiller1673 way of removing the html attached to load call each time so duplicates light not created*/
            if (temp === -1) {
                temp = -100;
            } else {
                document.getElementById("user_devices").removeChild(mylist);
            }
			//var count = 0;
            //document.addEventListener('click',onState(myDevices[temp[0]].Device,myDevices[temp[0]].serial));
		}

		function checkOnOrOffState(deviceState) {
			if (deviceState == 10) {
                var image = document.createElement('img');
                image.src = "{{url_for('static', filename = 'images/lighton.jpg') }}";
                image.className = "Device_img";
                image.width = "122";
                image.height = "180";
                image.display = "block";
                image.margin = "auto";
				return image;
			}
			else if (deviceState == 0) {
                var image = document.createElement('img');
                image.src = "{{url_for('static', filename = 'images/lightoff.jpg') }}";
                image.className = "Device_img";
                image.width = "122";
                image.height = "180";
                image.display = "block";
                image.margin = "auto";
                return image;
			}
		}
        
		function onState(deviceName, deviceID) {
            return function(){
                if(deviceState[deviceID]==0) {
                    var data = {"cmd":"4", "uuid":"0", "serial": deviceID, "data":{"name": deviceName, "level": 10}};
                    // alert("ON");
                    //deviceState[deviceID]=10;
                    sendRequest(false, data, "/update_req");
                } else if (deviceState[deviceID]==10) {
                    var data = {"cmd":"4", "uuid":"0", "serial": deviceID, "data":{"name": deviceName, "level": 0}};
                    // alert("OFF");
                    //deviceState[deviceID]=0;
                    sendRequest(false, data, "/update_req");
                }
            }
		}


        /*
		function checkFailure(xhttp) {
			if (xhttp.responseText == "{'table': 'failed'}") {
				// alert telling user the table of devices failed to load properly
				var tableAlert = "<div class = 'alert alert-danger' role = 'alert'> <button type = 'button' class = 'close' data-dismiss = 'alert' aria-label = 'Close'> <span aria-hidden = 'true'>&times;</span> </button> The table of devices failed to load from the server </div>";
				document.getElementById("invalid_alert").innerHTML = tableAlert;
				return true;
			}
			if (xhttp.responseText == "{'changeName': 'failed'}") {
				// alert telling user changing the name of a device failed
				var changeNameAlert = "<div class = 'alert alert-danger' role = 'alert'> <button type = 'button' class = 'close' data-dismiss = 'alert' aria-label = 'Close'> <span aria-hidden = 'true'>&times;</span> </button> The server failed to change the name of that device </div>";
				document.getElementById("invalid_alert").innerHTML = changeNameAlert;
				return true;
			}
			if (xhttp.responseText == "{'addDevice': 'failed'}") {
				// alert telling user adding a new device failed
				var addDeviceAlert = "<div class = 'alert alert-danger' role = 'alert'> <button type = 'button' class = 'close' data-dismiss = 'alert' aria-label = 'Close'> <span aria-hidden = 'true'>&times;</span> </button> The server failed to add that new device to your list </div>";
				document.getElementById("invalid_alert").innerHTML = addDeviceAlert;
				return true;
			}
			if (xhttp.responseText == "{'light_level': 'failed'}") {
				// alert telling user turning light on/off failed
				var setLevelAlert = "<div class = 'alert alert-danger' role = 'alert'> <button type = 'button' class = 'close' data-dismiss = 'alert' aria-label = 'Close'> <span aria-hidden = 'true'>&times;</span> </button> The server failed to change the state of the Lux device </div>";
				document.getElementById("invalid_alert").innerHTML = setLevelAlert;
				return true;
			}
		}
		*/

		/*
		function changeDeviceName(deviceNumber) {
			var originalName = document.getElementById("myLuxDevices").rows[deviceNumber].cells.item(0).innerHTML;
			var userPrompt = prompt("Enter new device name:", originalName);

			if (userPrompt != null) {
				sendRequest('/path', verifyChangeName, "oldname:" + originalName + " newname:" + userPrompt);
			}
		}

		function verifyChangeName(xhttp) {
			console.log(xhttp.responseText);
			// call the sendRequest for onPageLoad again?
		}

		function changeGroup(xhttp) {
			// Take the data in the drop-down menu? and send it to the server
			// Check to see if it was successful
		}

		function addDevice(xhttp) {
			// Create a alert/pop-up/prompt for user to enter new device information
			// Enter device serial number
			// find out how to reload the page for updated list?
		}

		function removeDevice(deviceNumber) {
			var deviceName = document.getElementById("myLuxDevices").rows[deviceNumber].cells.item(0).innerHTML;
			sendRequest('/path', verifyRemoveDevice, "remove:" + deviceName);
		}

		function verifyRemoveDevice(xhttp) {
			console.log(xhttp.responseText);
			// call the sendRequest for onPageLoad again?
		}
		*/
		</script>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\//script>')</script>
    <script src="{{url_for('static', filename = 'bootstrap-4.0.0-beta/assets/js/vendor/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename = 'bootstrap-4.0.0-beta/dist/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename = 'bootstrap-4.0.0-beta/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
