<!DOCTYPE html>
<html lang="en">
  <head>
	<title> Lux: Wireless Home Illumination </title>
	<link rel = "shortcut icon" href = "{{url_for('static', filename = 'images/Lightbulb.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
	<!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename = 'bootstrap-4.0.0-beta/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="{{url_for('static', filename = 'jumbotron.css') }}" rel="stylesheet"> -->
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="index.html">LUX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Luxabout.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="LuxLogin.html">Sign-up/Login</a>
          </li>
		  <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
		  -->
		  <li class = "nav-item" style = "float:right">
			<a class = "nav-link" href = "Luxcontact.html"> Contact </a> 
		  </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
		<br> <br> <br>
        <h1>About the Lux SmartSocket Device</h1>
		<p class = "lead"> This project aims to create a low cost, home automation illumination device that will 
		turn any lamp or light source into a smart light source. Instead of replacing the light 
		bulb or wall socket, we aim to replace the light socket itself, allowing the user to continue 
		using the light bulbs they already have for their homes. In addition, we will have custom 
		firmware, custom hub software to connect multiple smart sockets and this custom web application 
		to interface with the devices. </p>
		<br>
		<p class = "lead"> The user of this device would connect their new Lux to their computer to run a simple 
		setup program, allowing them to view specific information regarding their device, i.e. 
		serial number, and edit network information such as the IP address and port number assigned 
		to the hub (server) and the network ssid and password for the wireless network. The Lux 
		would replace the socket the light bulb is placed in, and would need to be properly connected 
		with the lamp. The lamp light socket will both power the Lux Wi-Fi light socket and the light 
		bulb connected to the other Lux terminal. The user would be able to control particular lights 
		within their house using this accompanying webpage. </p>
		<br>
		<p class = "lead"> TODO: add in more information about the parts used to build and pictures of device
	  </div>
	  <hr>

      <footer>
        <p>CSE 442 - Fall 2017&copy; </p>
      </footer>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{url_for('static', filename = 'bootstrap-4.0.0-beta/assets/js/vendor/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename = 'bootstrap-4.0.0-beta/dist/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename = 'bootstrap-4.0.0-beta/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>